body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	overflow: hidden;
	white-space: nowrap;
}

#container {
	padding-bottom: 36px;
}

.box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	margin-left: -8px;
	cursor: pointer;
}

.box:hover {
	box-shadow: 0 0 8px #fff;
	z-index: 20;
}

.first {
	background-color: #FA9D00;
}

.second {
	background-color: #006884;
}
.third {
	background-color: #89dbec;
}
.fourth {
	background-color: #ffd08d;
}
.fifth {
	background-color: #6e006c;
}
.sixth {
	background-color: #f68370;
}
.seventh {
	background-color: #B00051;
}
.eighth {
	background-color: #00909e;
}
.nineth {
	background-color: #ed0026;
}
.tenth {
	background-color: #91278f;
}

.crawl {
	-webkit-animation: crawl 4s;
	-moz-animation: crawl 4s;
	-o-animation: crawl 4s;
	animation: crawl 4s;
}
.dangle {
	-webkit-animation: dangle 4s;
	-moz-animation: dangle 4s;
	-o-animation: dangle 4s;
	animation: dangle 4s;
}
.jump {
	-webkit-animation: jump 4s;
	-moz-animation: jump 4s;
	-o-animation: jump 4s;
	animation: jump 4s;
}
.stretch {
	-webkit-animation: stretch 4s;
	-moz-animation: stretch 4s;
	-o-animation: stretch 4s;
	animation: stretch 4s;
}
.flip {
	-webkit-animation: flip 4s;
	-moz-animation: flip 4s;
	-o-animation: flip 4s;
	animation: flip 4s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
}

#links {
	padding: 10px 10px;
}

a {
	text-decoration: none;
	margin: 0 10px;
	color: #006884;
}

a:hover {
	color: #91278f;
}
