body {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	min-height: 100%;
	background-color: #fff5e8;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 36px;
	z-index: 20;
}

#sound {
	height: 0;
	width: 0;
}

#links {
	text-align: right;
	padding: 10px 20px;
}

a {
	text-decoration: none;
	color: #9ac6ff;
	margin-left: 10px;
}

a:hover {
	color: #005dd5;
}

button {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 5px 10px;
	border: none;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 14px;
	background-color: #ffd39a;
	cursor: pointer;
	z-index: 50;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}